<html>
    <head>
        <title>My Profile</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/main.css" />
        <link rel="stylesheet" href="../css/stylish-portfolio.css" />
        <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
        <link rel="stylesheet" href="../css/public_profile.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/feature_newadditions.css" />
        <link rel="stylesheet" href="css/custom_changes.css" />
    </head>

<body>
    {{> menu_bar_signedinv2}}
    <section class="trip_information">
        <center>
            <h2>Add New Trip Diary</h2>
            <form action="/addTrip" data-ajax="false" method="POST" class="trip_form" style="width: 80%" id="trip_form">
                <div class="trip_field">
                    <label class="trip_img">Select Image for Upload</label>
                    <input class="btn btn-light" type="file" name="trip_img" id="trip_img" />
                </div>

                <div class="trip_field">
                    <label class="trip_formField">Title of Trip</label>
                    <input id="trip_title" name="trip_title" class="trip_color" type="text" name="title" placeholder="Create Title" />
                </div>
                <br>
                <div class="trip_field">
                    <label class="trip_formField">Date of Trip</label>
                    <input id="trip_date" name="trip_date" class="trip_color" type="text"name="date" placeholder="Enter Date Here" />
                </div>
                <br>
                <div class="trip_field">
                    <label class="trip_formField">Description</label>
                    <textarea id="trip_description" name="trip_description" class="trip_color" name="description" placeholder="Enter Description Here"></textarea>
                </div>
                
                <br>
                <div style="display: none"></div>
                <br>
                <button class="btn-theme btn-lg" style="float: left" type="submit">Create</button>
            </form>
        </center>
    </section>

    <p class="footer">Icons by <a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome 4.1 Icons</a>.<br />
      Created by <a href="http://jenniferperrin.com">Jennifer Perrin</a>
    </p>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
