<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>My Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/toAddPics.css" rel="stylesheet"> 
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="stylesheet" href="../css/stylish-portfolio.css" />
		<link rel="stylesheet" href-"css/custom_changes.css" />
	</head>

	<body>

	    {{> menu_bar_signedin}}
	<!-- //////////////////////////////////////////////////////////////////////- -->

		
		<section id="pro_land_layout">
			<h1>Welcome To Your Profile!</h1>
			
			<div id="home-buttons">
				<!--<li><a href="/saved_trips" class="icon fa-twitter">Saved Trips</a></li>
				<li><a href="/saved_profiles" class="icon fa-facebook">Saved Profiles</a></li>
				<li><a href="/edit_tripdiary" class="icon">Edit Trip Diary</a></li>-->
				<a href="/edit_tripdiary" class="btn btn-dark btn-lg">Edit Trip Diary</a>
				<a href="/saved_trips" class="btn btn-dark btn-lg">Saved Trips</a>
				<a href="/saved_profiles" class="btn btn-dark btn-lg">Saved Users</a>
			</div>

		</section>


	    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

<script>
    $(document).ready(function () {

        // you want to enable the pointer events only on click;

        $('#map_canvas').addClass('scrolloff'); // set the pointer events to none on doc ready
        $('#contact').on('click', function () {
            $('#map_canvas').removeClass('scrolloff'); // set the pointer events true on click
        });

        // you want to disable pointer events when the mouse leave the canvas area;

        $("#map_canvas").mouseleave(function () {
            $('#map_canvas').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
        });
    });
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

	</body>
</html>